<div [ngStyle]="style">
    <textarea class="{{className}}"
            *ngIf="isActiveInput"
            rows={{rows}}
            cols={{cols}}
            (keyup.enter)="updateEntity()"
            (keydown.escape)="cancelUpdate()"
            [(ngModel)]="entity[entityField]"
            [value]="entity[entityField]">
    </textarea>

    <span class="{{className}} inline" *ngIf="!isActiveInput">{{entity[entityField]}}</span>

    <div class="inline">
        <button class="btn btn-sm btn-warning btn-editable" 
                *ngIf="!isActiveInput"
                (click)= "isActiveInput = true">
                Edit
        </button>
        <button class="btn btn-sm btn-success btn-editable" 
                *ngIf="isActiveInput"
                (click)= "updateEntity()">
                Save
        </button>
        <button class="btn btn-sm btn-danger btn-editable" 
                *ngIf="isActiveInput"
                (click)= "cancelUpdate()">
                Cancel
        </button>
    </div>
</div>